<section id="one" class="tiles">
  {% for zine in site.zines limit:site.tiles-count %}
  {% if site.tiles-source == 'zines' %}
  <article>
    <span class="image">
      <img src="/assets/images/{{ zine.image }}" alt="" />
    </span>
    <header class="major">
      <h3><a href="{{ zine.url  | relative_url }}" class="link">{{ zine.title }}</a></h3>
      <p>{{ zine.description }}</p>
    </header>
  </article>
  {% endif %}
  {% endfor %}
  {% for page in site.pages limit:site.tiles-count %}
  {% if site.tiles-source == 'pages' and page.show_tile != false %}
  <article>
    <span class="image">
      <img src="{{ page.image }}" alt="" />
    </span>
    <header class="major">
      <h3><a href="{{ page.url | relative_url  }}" class="link">{{ page.title }}</a></h3>
      <p>{{ page.description }}</p>
    </header>
  </article>
  {% endif %}
  {% endfor %}
</section>
